<div class="container" ng-controller="UsersCtrl">

<h1>Users</h1>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- a double colon here will prevent the entire collection from watching for changes. -->
      <tr ng-repeat="user in ::users">
        <!-- Double colon says we will load it in once and never update it again. Stops two-way -->
        <!-- binding after it loads. This does it for each field. -->
        <td>{{ ::user.first_name }}</td>
        <td>{{ ::user.last_name }}</td>
        <td>{{ ::user.title.name }}</td>
        <td><a ng-click="upsertUser(user)">Update</a> | <a ng-click="deleteUser(user)">Delete</a></td>
      </tr>
    </tbody>
  </table>

  <br/>
  <h3>Add or Edit a User</h3>
  <form role="form" name="upsertUsersForm" ng-submit="createAndUpdateUsers(user)" novalidate>
    <div class="form-group">
      <!-- <label for="first_name">First Name</label> -->
      <input type="text" class="form-control" id="first_name" placeholder="First Name" ng-model="user.first_name" required>
    </div>

    <div class="form-group">
      <!-- <label for="last_name">Last Name</label> -->
      <input type="text" class="form-control" id="last_name" placeholder="Last Name" ng-model="user.last_name" required>
    </div>

    <div class="form-group">
      <!-- ng-options generates option tag. we're saying option tag's value is title.id, the second piece is what -->
      <!-- the user sees, which in this case is title.name -->
      <select class="form-control" ng-model="user.title_id" ng-options="title.id as title.name for title in titles">
        <!-- Important to have the value as an empty string. Angular needs this format -->
        <option value="">Select a Title</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="upsertUsersForm.$invalid">Submit</button>
  </form>

</div>
